@font-face {
  font-family: gyparody;
  src: url(./fonts/gyparody\ hv.ttf);
}

body {
  background-color: blue;
}

.header-container {
  text-align: center;
}

h1 {
  color: yellow;
  font-size: 5em;
  font-family: gyparody;
  text-shadow: 4px 4px 4px #000;
}

.score-container {
  text-align: center;
}

h2 {
  display: flex;
  flex-direction: column;
  color: yellow;
  font-size: 3em;
  text-shadow: 4px 4px 4px #000;
}

.question-container {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

h3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: yellow;
}

img {
  height: 200px;
  display: flex;
  border: 3px dotted yellow;
}

.question-container {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5em;
  margin: 1em;
  border: 3px solid yellow;
  font-weight: bold;
  background-color: lightblue;
}